@page "/factorial"
@rendermode InteractiveServer

<h3>Factorial</h3>

<input type="number" name="factorial" min="0" max="20" @bind="n" @onclick="Calculate"/><label for="factorial" style="font-size:24px">! = @fact</label>
