@page "/fibonacci"
@rendermode InteractiveServer

<h3>Fibonacci</h3>

<input type="number" name="edge" min="0" max="12" @bind="edge" @onclick="Calculate"/>

<p>
	@foreach (var num in sequence)
	{
		<span style="margin-right: 18px">@num </span>
	}
</p>

@code {
	decimal edge = 1;
	List<decimal> sequence = new List<decimal> { 0, 1 };	

	void Calculate()
	{
		if(edge > 1)
		{
			for (int i = sequence.Count; i <= edge; i++)
			{
				sequence.Add(sequence[i - 1] + sequence[i - 2]);
				for(int j = 0; j < sequence.Count; j++)
				{
					Console.Write(sequence[j] + " ");
				}
				Console.WriteLine();
			}
		}		
	}	
}
