@page "/power"
@rendermode InteractiveServer

<h3>Power</h3>

<input type="number" name="base" @bind="number"/>
^
<input type="number" name="power" @bind="power" @onkeyup="HandleKeyPress" />
<label for="power" > = @result</label>

@code
{
	double number = 0;
	double power = 0;
	double result = 0;

	void Calculate()
	{
		result = Math.Pow(number, power);
	}	

	void HandleKeyPress(KeyboardEventArgs e)
	{
		if (e.Key == "Enter")
		{
			Calculate();
		}
	}
}
